 @import url(variable/css);
 *{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}.header{

    width: 95%;
    height: 160px;
    margin: 10px 10px;
    background-color: blue;
    border-radius: 6px;
    

}
.header__inicial{
    color:aliceblue;
    padding: 35px 30px;
 

}
.header__inicial p{
    padding-top: 1%;
    margin-bottom: 20px;
}
#Search__bar{

        background: rgb(75, 75, 228);
        border-radius: 5vw;
        border: none;
        margin-left: 1%;
        margin-bottom: 4vh;
        margin-right: 9%;
        width: 95%;
        height: 6vh;
        font-size: 18px;
        padding-left: 20px;
        color: aliceblue;
}
.contain__general{
    background-color: aqua;
    height: 350px;
    margin: 10px 10px;
    padding: 20px 40px;
    overflow: scroll;

}
  
    
